.p{
    display: flex;
    height:90vh;
}
.p-left{
  flex:1;
  /* margin:10px; */
  border-radius: 0.5rem;
  overflow: hidden;
  align-self: center;
}
.p-img{
    width:25rem;
    height:100%;
    object-fit:cover;
    object-position: top;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px 1px rgb(143, 143, 143);
    margin:1em;
  }
.p-right{
    flex:1;
    /* margin:11px; */
    height:18rem;
    padding:1em;
    text-align: start;
   align-self: center;
}
.p-btn{
  display:flex;
  gap:1em;
}
.btn{
   border:none;
   background-color:rgb(39, 185, 39);
   color:white;
   border-radius: 0.1em;
   cursor:pointer;

}
