.a{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4rem;
    background-color:rgb(240, 240, 240);
}
.a-header{
    /* font-size: 1.9rem; */
    color:rgb(39, 185, 39);
    font-size: 50px;
    font-weight: 600;

}
.a-skill-card{
    border-radius:0.5rem;
    display:flex;
    justify-content:space-evenly;
    width:clamp(10rem, 60%, 50rem);
    padding:2.5rem;
    background-color:rgb(255, 255, 255);
    box-shadow: 3px 1px 10px 2px rgb(196, 189, 189);
    flex-wrap:wrap;
    gap:2em;

}
.a-skill-card > div{
 display: grid;
 place-items: center;
 width:4.5rem;
}

.a-skill-card img{
    width:4.5rem;
    aspect-ratio:1;
}

@media (max-width:780px){
    .a-skill-card img{
        width:3.5rem;
        aspect-ratio:1;
    }
    .a{
        height:100vh;
        gap:1.5rem;
        }
        .a-skill-card > div{
            width:3.5rem;
           }
           .a-skill-card{
            gap:2.5rem;
            }
}
@media (max-width:480px){
    .a{
    height:70vh;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:1.5rem;
    }
    .a-skill-card{
    flex-wrap:wrap;
    padding:1rem;
    gap:2rem;
    }
    .a-header{
        font-size:2rem;
    }
    .a-skill-card img{
        width:1.5rem;
        aspect-ratio:1;
    }
    .a-skill-card > div{
        width:2rem;
       }
}